:root {
    --font-family: 'JetBrains Mono', monospace;

    --body-bg: #0a0a0a;
    --section-bg: #101010;
    --text-color: rgb(231, 230, 235);
    --secondary-text-color: #3d3d3d;
    --accent-color: rgb(163, 255, 174);
    --weak-color: rgb(247, 75, 75);
    --medium-color: rgb(251, 122, 86);
    --good-color: rgb(248, 203, 99);
    --strong-color: rgb(163, 255, 174);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: bold;
    background-color: var(--body-bg);
    color: var(--text-color);
    margin: 0;
}

.container {
    width: 325px;
    padding: 1.5rem;
    background-color: var(--section-bg);
}

#clipboard-btn i,
#generate-btn,
#length {
    transition: all 0.2s ease-in;
}

.result-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg);
    margin-bottom: 2rem;
}

#result {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: .9rem;
    background-color: var(--body-bg);
    color: var(--secondary-text-color);
    border: none;
}

#clipboard-btn {
    font-size: 1.25rem;
    background: transparent;
    border: none;
    padding: .9rem;
    color: var(--accent-color);
    cursor: pointer;
}

#clipboard-btn:active {
    transform: scale(0.9);
}

#clipboard-btn i:hover {
    color: var(--text-color);
}

#message {
    visibility: hidden;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.char-length {
    margin-bottom: 2rem;
}

.length-label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.9rem;
}

#length {
    width: 3.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding: 0.4rem;
    border: none;
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.checkbox-label {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 1rem;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid currentColor;
    transform: translateY(0.1rem); 
    cursor: pointer;

    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--section-bg);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    border: 1px solid var(--accent-color);
}

.strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg);
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.strength__title {
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    margin: 1rem 0;
}

.strength-lvl {
    display: flex;
    align-items: center;
}

#lvl-text {
    font-size: 1.15rem;
    margin: 1rem 0.5rem;
}

.bars {
    width: 8px;
    height: 20px;
    border: 2px solid var(--text-color);
    margin-left: 0.4rem;
}

.bars.weak {
    background-color: var(--weak-color);
    border-color: var(--weak-color);
}
.bars.medium {
    background-color: var(--medium-color);
    border-color: var(--medium-color);
}
.bars.good {
    background-color: var(--good-color);
    border-color: var(--good-color);
}
.bars.strong {
    background-color: var(--strong-color);
    border-color: var(--strong-color);
}

#generate-btn {
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    cursor: pointer;
}

#generate-btn:hover {
    color: var(--accent-color);
    background-color: transparent;
}

#generate-btn:active {
    transform: scale(0.9);
}